BasedOnStyle: Google

ColumnLimit: 120
UseTab: Never
IndentWidth: 4
AccessModifierOffset: -4
NamespaceIndentation: Inner
BreakBeforeBraces: Allman

AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializersBeforeComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
AlignConsecutiveAssignments: false
AlignTrailingComments: true


SortIncludes  : true
IncludeBlocks : Regroup
IncludeCategories:
  - Regex:           '.*'
    Priority:        1
  - Regex:           'RedEngine.*Module\.hpp'
    Priority:        1
  - Regex:           'RedEngine'
    Priority:        2
  - Regex:           '^<.*\.(?:h|hpp)>'
    Priority:        3
  - Regex:           '^<.*>'
    Priority:        4

SpaceAfterCStyleCast: true
CommentPragmas: '^ NO-FORMAT:'
